.mainDiv {
  background: linear-gradient(-90deg, #240b36, #c31432);
}
.divRed {
  background-color: #c31432;
}
.divPurple {
  background-color:#240b36;
}
.padding5to0{
  padding: 5% 0%;
}
.paddingTop5{
  padding-top: 5%;
}
.paddingLeft3{
  padding-left: 3%;
}
.padding3{
  padding: 3%;
}

#profilePicture {
  width: 100%;
  height: auto;
  justify-content: center;
}

.btnPurple{
  color: white;
  border: 2px solid;
  border-color: white;
  text-decoration: none;
  padding: 12px 16px 12px 16px;
}
.btnPurple:hover{
  color: white;
  background-color: #240b36;
  border-color: #240b36;
  text-decoration: none;
  padding: 12px 16px 12px 16px;

}

.description {
  color: white;
}

.headingLine {
  color: white;
  font-size: 47px;
  
}
.introLine2 {
  color:#240b36;
  font-size: 30px;
  
}
.intro {
  display: flex;

}
.typing{
  color: white;
  position: relative;
  margin-left: 10px;
}
.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1%;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.4s infinite ease;
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


a {
  color: white;
}
a:hover {
  color: #240b36;
  text-decoration: underline;
}
a:visited {
  color:white;
}

.red{
  padding: 10% 0%;
  color: #c31432;
  size: 50px;
}

.red:hover{
  color: #240b36;
}
.purple{
  color:#240b36;
}

.purple:hover{
  color:#c31432;
}

.content__title {
	font-size: 8vw;

}
.content__title--center {
  margin: auto;
  text-align: center;
}
#rfx4
{
  background: -webkit-linear-gradient(left,#FFB900,#FF8C00,#F7630C,#E74856,#E81123,#0078D7,#0063B1);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 color: #303F9F;
}
.content__title__inner {
	flex: none;
	display: inline-block;
	white-space: wrap;
	position: relative;
}
